/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 oct. 2020, 10:45:09
    Author     : daw2
    description: Desarrollo visual plantilla form php
*/

body{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

#cuerpo{
    height: 100%;
    width: 90%;
    margin-left: 5%;
}

h1 {
    text-align: center;
    background-color: #54afff;
    border-radius: 14px;
}
.formulario{
    border: 2px solid #54afff;
    border-radius: 6px;
    padding: 15px;
}

.titleform{
    font-size: 22px;
    text-align: center;
    background-color: #54afff;
    margin-bottom: 10px;
    border-radius: 4px;
    height: 31px;
    padding-top: 4px;
}

.fText{
    margin-bottom: 10px;
    width: 33%;
    display: inline-table;
}

.error{
    color: red;
    margin-top: 3px;
    display: flex;
}

.titleBotones{
    margin-bottom: 5px;
    display: inline-block;
    border-bottom: 3px solid #54afff;
}

.alum{
    font-size: 22px;
    text-align: center;
    background-color: #54afff;
    margin-bottom: 10px;
    border-radius: 4px;
    height: 31px;
    padding-top: 4px;
    width: 33%;
}

#botonesForm{
    margin-top: 25px;
    margin-top: 25px;
    margin-left: 45%;
}

#contenido{
    width: 90%;
    height: auto;
    margin-left: 5%;
}

.tituloFormulario, .tituloFormulario2{
    background-color: #54afff;
    text-align: center;
    border-radius: 20px;
    margin: 5px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.tituloFormulario2{
    margin-top: 20px;
}

#contenedor{
    border: 3px solid #54afff;
    padding: 10px;
    border-radius: 6px;
}

.respuestaFormulario{
    margin-top: 5px;
    display: inline-block;
    margin-left: 10px;
}

.titulilloForm{
    font-weight: bold;
}

.contenedorRespuestas{
    width: 33%;
    display: inline-block;
}

.lista{
    margin-top: 10px;
    margin-bottom: 10px;
}

.checkForm{
    width: 33%;
    margin-top: 10px;
    display: inline-block;
}

.respuestaLista{
    margin-top: 5px;
    display: block;
    margin-left: 10px;
}

.opcional{
    background-color: #ccf;

}

input[type=text],input[type=number] {
    transition: width 0.5s ease-in-out, border-color ;
    width: 33%;
    border: 1px solid #b9b9b9;
    border-radius: 3px;
    height: 20px;

}

input[type=text]:focus,input[type=number]:focus {
    width: 66%;
    background-color: #b9b9b9;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.preguntasForm{
    width: 100%;
}

.fText label{
    width: 33%;
}

.labelTitle{
    font-weight: bold;
}

.checkForm .labelTitle,.radioForm .labelTitle{
    border-bottom: 0.5px solid #54afff;
    margin-bottom: 10px;

}

.opcionCheck,.opcionRadio{
    margin-top: 5px;
}

.radioForm{
    width: 33%;
    display: inline-block;
}


select.opcional{
    background: #ccf;
}

.box h3{
    text-align: center;
    font-weight: 800;
}

.box p{
    margin-top: 2%;
}
.tablaResult{
    width: 100%;
}

.tablaResult td:nth-of-type(1n){
    text-align: center;
}

.tablaResult td:nth-of-type(2){
    text-align: inherit;
    padding-left: 10%
}

.tablaResult th{
    padding-bottom: 20px;
}

.totaRegistros{
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.contenedorError{
    border: 3px solid #54afff;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
}